main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
    align-content: space-between;
}

.card {
    color: white;
    background-color: #333136;
    width: 25%;
    min-width: 250px;
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    /*margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.card h3 {
    margin-bottom: 0;
    margin-left: 1rem;
}

.card hr {
    width: 90%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    border: none;
}

.card div {
    margin-left: 1rem;
}

.card-clickable {
    cursor: pointer;
}

.card-retired {
    border-color: red;
}

.card-retired hr {
    background: red;
}

.card-active {
    border-color: yellowgreen;
}

.card-active hr {
    background: yellowgreen;
}

.card-nonastronaut {
    border-color: orange;
}

.card-nonastronaut hr {
    background: orange;
}

.card-heading {
    display: flex;
}